Q1. What are data structures, and why are they important?

Answer:
A data structure is a way of organizing, managing, and storing data so that it can be accessed and modified efficiently.
Examples: Lists, Tuples, Sets, Dictionaries, Stacks, Queues, Trees, Graphs.

Importance:

Efficient data access and modification.

Better memory management.

Makes complex problem-solving easier.

Used in real-life applications like databases, operating systems, search engines.

Q2. Explain the difference between mutable and immutable data types with examples.

Answer:

Mutable data types: Can be changed after creation.
Example:

my_list = [1, 2, 3]

my_list[0] = 10

print(my_list)  # [10, 2, 3]


Immutable data types: Cannot be changed after creation.
Example:

my_tuple = (1, 2, 3)
# my_tuple[0] = 10  #Error: tuples are immutable

Q3. What are the main differences between lists and tuples in Python?

Answer:

1. Mutability

Lists are mutable - you can change, add, or remove elements after creation

Tuples are immutable - once created, you cannot modify their contents

List - can be modified
my_list = [1, 2, 3]

my_list[0] = 10  # Works

my_list.append(4)  # Works

# Tuple - cannot be modified
my_tuple = (1, 2, 3)

my_tuple[0] = 10  # Raises TypeError

2.Syntax

Lists use square brackets []

Tuples use parentheses () (or just commas)

pythonmy_list = [1, 2, 3]
my_tuple = (1, 2, 3)


3.Performance

Tuples are faster for accessing elements and take up less memory

Lists have more overhead due to their mutability and additional methods

This makes tuples ideal for storing data that won't change (like coordinates), while lists are better when you need to modify the collection.

Q4. Describe how dictionaries store data.

Answer:

A dictionary in Python stores data as key–value pairs.

Internally, it uses a hash table for fast access.

Example:

student = {"name": "Nikhil", "age": 25}

print(student["name"])  # Nikhil

Q5. Why might you use a set instead of a list in Python?

Answer:
You would use a set when:

You need unique elements (sets automatically remove duplicates).

You need fast membership testing (in operation is faster in sets).

Example:

nums = [1, 2, 2, 3]

unique_nums = set(nums)

print(unique_nums)  # {1, 2, 3}

Q6. What is a string in Python, and how is it different from a list?

Answer:

A string is a sequence of characters enclosed in quotes ("hello").

A list is a collection of different data types ([1, "hi", 3.5]).

Key differences:

Strings are immutable, lists are mutable.

Strings store only characters, lists can store any type of data.

Q7. How do tuples ensure data integrity in Python?

Answer:

Tuples are immutable, meaning data inside them cannot be changed.

This ensures that once created, the data remains unchanged and safe.

Example:

coordinates = (10.5, 20.3)
# coordinates[0] = 15  # Not allowed

Q8. What is a hash table, and how does it relate to dictionaries in Python?

Answer:

A hash table is a data structure that maps keys - values using a hash function.

Python’s dictionary is implemented internally as a hash table.

This allows O(1) average time complexity for lookup, insertion, and deletion.

Q9. Can lists contain different data types in Python?

Answer:
Yes, lists can store different types of elements.

Example:

mixed_list = [10, "hello", 3.14, True]

print(mixed_list)  # [10, 'hello', 3.14, True]

Q10. Explain why strings are immutable in Python.

Answer:

Strings are immutable for security, efficiency, and memory optimization.

If strings were mutable, they could be changed unexpectedly, leading to bugs (e.g., in keys of dictionaries).

Instead of modifying a string, Python creates a new string.

Example:

s = "hello"
s = s + " world"   # Creates a new string

print(s)  # hello world

Q11. What advantages do dictionaries offer over lists for certain tasks?

Answer:
Dictionaries are better than lists when:

If we need fast lookups by a unique key (O(1) average time).

if we want to store key–value pairs instead of just values.

if we want to avoid searching through an entire list.

Example:

#Using list
students = [["id1", "Nikhil"], ["id2", "Garima"]]

for s in students:

    if s[0] == "id2":

        print(s[1])  # Garima

#Using dict (faster)

students = {"id1": "Nikhil", "id2": "Garima"}

print(students["id2"])  # Garima

Q12. Describe a scenario where using a tuple would be preferable over a list.

Answer:

Use a tuple when data should not be modified.

Example scenarios:

Geographic coordinates → (28.7041, 77.1025) (latitude, longitude).

Days of the week → ("Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun").

As dictionary keys (lists cannot be used as keys because they are mutable).

Q13. How do sets handle duplicate values in Python?

Answer:

Sets automatically remove duplicates.

Only unique values are stored.

Example:

my_set = {1, 2, 2, 3, 4, 4}

print(my_set)  # {1, 2, 3, 4}

Q14. How does the “in” keyword work differently for lists and dictionaries?

Answer:

For lists - checks if the value exists.

For dictionaries - checks if the key exists (not the value).

Example:

nums = [1, 2, 3]

print(2 in nums)  # True (value check)

student = {"name": "Nikhil", "age": 25}

print("name" in student)  # True (key check)

print(25 in student)      # False (values not checked directly)

Q15. Can you modify the elements of a tuple? Explain why or why not.

Answer:

 No, you cannot modify a tuple because it is immutable.

Once created, its values cannot change.

This ensures data integrity and allows tuples to be used as dictionary keys.

Example:

t = (1, 2, 3)
# t[0] = 10  #  Error

Q16. What is a nested dictionary, and give an example of its use case.

Answer:

A nested dictionary means a dictionary inside another dictionary.

Used for representing hierarchical data (e.g., student details, JSON-like structures).

Example:

student = {
  
    "name": "Nikhil",
    "subjects": {
        "math": 90,
        "science": 85
    }
}
print(student["subjects"]["math"])  # 90

Q17. Describe the time complexity of accessing elements in a dictionary.

Answer:

Dictionary uses a hash table internally.

Average case → O(1) (constant time).

Worst case (when hash collisions occur) → O(n), but rare.

Q18. In what situations are lists preferred over dictionaries?

Answer:

Use a list when:

You only need to store values (no key–value mapping).

The order of elements matters.

You want to allow duplicates.

Example: Storing names in order → ["Nikhil", "Garima", "Amit"].

Q19. Why are dictionaries considered unordered, and how does that affect data retrieval?

Answer:

Before Python 3.7 → dictionaries were unordered (order of keys not guaranteed).

From Python 3.7+ → they maintain insertion order, but are still conceptually considered unordered (because order is not essential to their working).

Retrieval is always based on keys, not positions.

Q20. Explain the difference between a list and a dictionary in terms of data retrieval.

Answer:

List retrieval → By index (position-based).

names = ["Nikhil", "Garima", "Amit"]

print(names[1])  # Garima


Dictionary retrieval → By key (key-based lookup).

student = {"id1": "Nikhil", "id2": "Garima"}

print(student["id2"])  # Garima

In [2]:
#Q1. Write a code to create a string with your name and print it.
name = "Nikhil Mishra"
print(name)

Nikhil Mishra

In [3]:
#Q2. Write a code to find the length of the string "Hello World".
text = "Hello World"
print(len(text))  # Output: 11

11

In [4]:
#Q3. Write a code to slice the first 3 characters from the string "Python Programming".
text = "Python Programming"
print(text[:3])  # Output: Pyt

Pyt

In [5]:
#Q4. Write a code to convert the string "hello" to uppercase.
text = "hello"
print(text.upper())  # Output: HELLO

HELLO

In [6]:

#Q5. Write a code to replace the word "apple" with "orange" in the string "I like apple".
text = "I like apple"
print(text.replace("apple", "orange"))  # Output: I like orange

I like orange

In [7]:
#Q6. Write a code to create a list with numbers 1 to 5 and print it.
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [8]:
#Q7. Write a code to append the number 10 to the list [1, 2, 3, 4].
numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)  # Output: [1, 2, 3, 4, 10]

[1, 2, 3, 4, 10]

In [9]:
#Q8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)  # Output: [1, 2, 4, 5]

[1, 2, 4, 5]

In [10]:
#Q9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
letters = ['a', 'b', 'c', 'd']
print(letters[1])  # Output: b

b

In [11]:
#Q10. Write a code to reverse the list [10, 20, 30, 40, 50].
numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)  # Output: [50, 40, 30, 20, 10]

# OR (alternative way using slicing)
print(numbers[::-1])  # Output: [50, 40, 30, 20, 10]

[50, 40, 30, 20, 10]
[10, 20, 30, 40, 50]

In [12]:
# 11. Create a tuple with elements 100, 200, 300 and print it
tuple1 = (100, 200, 300)
print("Tuple:", tuple1)

Tuple: (100, 200, 300)

In [13]:
# 12. Access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')
colors = ('red', 'green', 'blue', 'yellow')
print("Second-to-last element:", colors[-2])

Second-to-last element: blue

In [17]:
# 13. Find the minimum number in the tuple (10, 20, 5, 15)
numbers = (10, 20, 5, 15)
print("Minimum number:", min(numbers))

Minimum number: 5

In [16]:

# 14. Find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')
animals = ('dog', 'cat', 'rabbit')
print("Index of 'cat':", animals.index('cat'))

Index of 'cat': 1

In [15]:

# 15. Create a tuple containing three different fruits and check if "kiwi" is in it
fruits = ('apple', 'banana', 'mango')
print("Is 'kiwi' in tuple?", 'kiwi' in fruits)

Is 'kiwi' in tuple? False

In [14]:


# 16. Create a set with elements 'a', 'b', 'c' and print it
set1 = {'a', 'b', 'c'}
print("Set:", set1)

Set: {'a', 'c', 'b'}

In [18]:


# 17. Clear all elements from the set {1, 2, 3, 4, 5}
set2 = {1, 2, 3, 4, 5}
set2.clear()
print("Cleared set:", set2)

Cleared set: set()

In [19]:
# 18. Remove the element 4 from the set {1, 2, 3, 4}
set3 = {1, 2, 3, 4}
set3.remove(4)
print("Set after removing 4:", set3)

Set after removing 4: {1, 2, 3}

In [20]:
# 19. Find the union of two sets {1, 2, 3} and {3, 4, 5}
set4 = {1, 2, 3}
set5 = {3, 4, 5}
print("Union of sets:", set4.union(set5))

Union of sets: {1, 2, 3, 4, 5}

In [21]:
# 20. Find the intersection of two sets {1, 2, 3} and {2, 3, 4}
print("Intersection of sets:", set4.intersection(set5))

Intersection of sets: {3}

In [22]:
# 21. Create a dictionary with keys "name", "age", and "city", and print it
dict1 = {"name": "Alice", "age": 30, "city": "Paris"}
print("Dictionary:", dict1)

Dictionary: {'name': 'Alice', 'age': 30, 'city': 'Paris'}

In [23]:
# 22. Add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}
dict2 = {'name': 'John', 'age': 25}
dict2['country'] = 'USA'
print("Updated dictionary:", dict2)

Updated dictionary: {'name': 'John', 'age': 25, 'country': 'USA'}

In [24]:
# 23. Access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}
dict3 = {'name': 'Alice', 'age': 30}
print("Value of 'name':", dict3['name'])

Value of 'name': Alice

In [25]:
# 24. Remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}
dict4 = {'name': 'Bob', 'age': 22, 'city': 'New York'}
dict4.pop('age')
print("Dictionary after removing 'age':", dict4)

Dictionary after removing 'age': {'name': 'Bob', 'city': 'New York'}

In [26]:
# 25. Check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}
dict5 = {'name': 'Alice', 'city': 'Paris'}
print("Does 'city' exist?", 'city' in dict5)

Does 'city' exist? True

In [27]:
# 26. Create a list, a tuple, and a dictionary, and print them all
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {'a': 10, 'b': 20}
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3]
Tuple: (4, 5, 6)
Dictionary: {'a': 10, 'b': 20}

In [28]:
# 27. Create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result
import random
rand_list = [random.randint(1, 100) for _ in range(5)]
rand_list.sort()
print("Sorted random numbers:", rand_list)

Sorted random numbers: [19, 38, 39, 41, 43]

In [29]:
# 28. Create a list with strings and print the element at the third index
string_list = ['apple', 'banana', 'cherry', 'date', 'fig']
print("Element at index 3:", string_list[3])

Element at index 3: date

In [30]:
# 29. Combine two dictionaries into one and print the result
dict6 = {'a': 1, 'b': 2}
dict7 = {'c': 3, 'd': 4}
combined_dict = {**dict6, **dict7}
print("Combined dictionary:", combined_dict)

Combined dictionary: {'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [31]:
# 30. Convert a list of strings into a set
string_list2 = ['apple', 'banana', 'apple', 'cherry']
string_set = set(string_list2)
print("Set from list:", string_set)

Set from list: {'apple', 'banana', 'cherry'}